:root {
  --background-color: #fff;
  --text_color: #000;
  --accent-color: #007acc;
  --accenet-hover-color: #005bb5;
  --accent-active-color: #003f87;
  --border-color: #e0e0e0;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: var(--text_color);
  line-height: 1.6;
  padding: 0 1rem;
}

ul {
  list-style: none;
  padding: 0;
}

h1,
h3,
h4 {
  margin-bottom: 1rem;
  text-align: center;
}

a {
  color: var(--accent-color);
  text-decoration: none;
}

a:hover {
  color: var(--accenet-hover-color);
}

a:active {
  color: var(--accent-active-color);
}

header,
main,
footer {
  max-width: 1100px;
  margin: 0 auto;
  padding: 24px;
}

footer {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  margin: 1rem;
  border-radius: 0.2rem;
  border-color: cornflowerblue;
  border-style: solid;
  padding: 0.2rem;
  background-color: aliceblue;
}

.header span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px 0;
  border-bottom: 1px solid var(--border-color);
}

.projects-title {
  margin-bottom: 0;
}

.projects ul {
  display: grid;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--border-color);
  margin: 0;
}

li {
  margin: 0.3rem;
}

.work-experience {
  border-bottom: 1px solid var(--border-color);
}

.work-experience p {
  display: grid;
  justify-content: center;
}

.education {
  border-bottom: 1px solid var(--border-color);
}

.education p {
  display: grid;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  nav {
    flex-direction: column;
    gap: 16px;
  }

  nav a {
    margin: 0.2rem;
  }
}
